[user]
	email = ashfaq@ashfaqfarooqui.me
	name = Ashfaq Farooqui
	signingkey = 7A804BCB51DE2D88
[mergetool]
	keepBackup = false
[color]
	ui = auto
[commit]
	gpgsign = false 
[github]
	user = ashfaqfarooqui
[gpg]
	program = gpg2
