[user]
	email = ashfaq@ashfaqfarooqui.me
	name = Ashfaq Farooqui
	signingkey = 7A804BCB51DE2D88
[mergetool]
	keepBackup = false
[color]
	ui = auto
[commit]
	gpgsign = false 
[github]
	user = ashfaqfarooqui
[gpg]
	program = gpg2
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
