abbrev_defs
ashfaq.html
.smex-items
emacsConf/.emacs.d/.cache
emacsConf/.emacs.d/backups
emacsConf/.emacs.d/emacs-backups/
#*#
emacsConf/.emacs.d/.mc-lists.el
emacsConf/.emacs.d/.org-id-locations
emacsConf/.emacs.d/.python-environments/
emacsConf/.emacs.d/bookmarks
*.log
demo.org
/xmonad/.xmonad/xmonad-x86_64-linux
/xmonad/.xmonad/xmonad.errors
/xmonad/.xmonad/xmonad.hi
/xmonad/.xmonad/xmonad.o
/doomEmacs/.doom.d/config.el
